<div #intro id="intro">
  <app-inicio></app-inicio>
</div>
<div #about id="about">
  <app-about></app-about>
</div>

<div #skills id="skills">
  <app-skill></app-skill>
</div>

<div #services id="services">
  <app-service></app-service>
</div>

<div #experiences id="experiences">
  <app-qualification></app-qualification>
</div>

<div #portfolio id="portfolio">
  <app-portfolio></app-portfolio>
  <app-project></app-project>
  <app-testimonial></app-testimonial>
</div>

<div #contact id="contact">
  <app-contact></app-contact>

</div>
