<section class="services section">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">Our services</span>
    <div class="services__container containerPersonal grid">
        <div class="services__content" *ngFor="let service  of dataServices">
            <div>
                <i class="{{service.icon}} services__icon"></i>
                <h3 class="services__title">{{service.title1}} <br> {{service.title2}}</h3>
            </div>
            <span class="button button--flex button--small button--link services__button">
                See more
                <i class="fas fa-arrow-right button__icon"></i>
            </span>


        </div>

    </div>
</section>
