<section class="contact section">
    <h2 class="section__title">Contact me</h2>
    <div class="contact__container containerPersonal grid">
        <div>
            <div class="contact__information">
                <i class="fas fa-phone contact__icon"></i>
                <div>
                    <h3 class="contact__title">Phone</h3>
                    <span class="contact__subtitle">+43650 / 80 31 11</span>
                </div>

            </div>

            <div class="contact__information">
                <i class="fas fa-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="contact__subtitle">kenan.mahmic1996@gmail.com</span>
                </div>

            </div>

            <div class="contact__information">
                <i class="fas fa-map-marker-alt contact__icon"></i>
                <div>
                    <h3 class="contact__title">Location</h3>
                    <span class="contact__subtitle">Moosfelderstraße 49, 4030 Linz, Austria</span>
                </div>

            </div>
        </div>
        <form action="" class="contact__form grid">
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <label for="Nombre" class="contact__label">Firstname</label>
                    <input type="text" class="contact__input">
                </div>
                <div class="contact__content">
                    <label for="Nombre" class="contact__label">Lastname</label>
                    <input type="email" class="contact__input">
                </div>
            </div>
            <div class="contact__content">
                <label for="Nombre" class="contact__label">Subject</label>
                <input type="text" class="contact__input">
            </div>
            <div class="contact__content">
                <label for="Nombre" class="contact__label">Message</label>
                <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>
            </div>
            <div>
                <button onclick="sendFormAsEmail()" class="button button--flex">
                  Send
                    <i class="fas fa-comment-dots button__icon"></i>
                </button>
            </div>
        </form>

    </div>
</section>
