<header class="header">
    <nav class="nav containerPersonal">
        <a (click)="onClick('intro')" class="nav__logo">Developer</a>

        <div class="nav__menu" [ngClass]="showMenu ? 'show-menu ':'hide-menu'">
            <ul class="nav__list grid">
                <li class="nav__item" *ngFor="let item of itemsMenu">
                    <a class="nav__link" (click)="onClick(item.route)"><i class="{{item.icon}} nav__icon"></i>
                        {{item.name}}</a>
                </li>
            </ul>
            <i class="fas fa-times nav__close" (click)="openAndCloseMenu()"></i>
        </div>
        <div class="nav__btns">
            <i class="change-theme" [ngClass]="defaultTheme == 'dark' ? 'far fa-sun' : 'fas fa-moon'"
                (click)="changeTheme()"></i>
            <div class="nav__toggle" (click)="openAndCloseMenu()">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>
