<section class="about section">
    <h2 class="section__title">About me</h2>
    <span class="section__subtitle">Introduction</span>
    <div class="about__container containerPersonal grid">
        <img src="assets/img/my_comp.JPG" alt="" class="about__img">
        <div class="about__data">
            <p class="about__descripcion">
              I'm working as a FullStack Developer. Using technologies like
              <a href="https://angular.io" target="_blank"><i class="fab fa-angular" style="color: #FF0000"></i> Angular </a>
              <a href="https://symfony.com" target="_blank"><i class="fab fa-symfony" style="color: #005580"></i> Symfony </a><br>
              <a href="https://docker.com" target="_blank"><i class="fab fa-docker" style="color: blue"></i> Docker </a>
              <a href="https://getbootstrap.com/" target="_blank"><i class="fab fa-bootstrap" style="color: blueviolet"></i> Bootstrap </a>
            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">03+</span>
                    <span class="about__info-name">Years <br> Experience</span>
                </div>
                <div>
                    <span class="about__info-title">10+</span>
                    <span class="about__info-name">Projects <br> Done</span>
                </div>


            </div>
            <div class="about__buttons">
                <a download="" href="assets/pdf/Kenan_Mahmic_Lebenslauf.pdf" class="button button--flex" style="cursor: wait">
                    Download CV  <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>
